
.appHeader {
    .item {
        color:$dark;
    }
}

@if $enable-dark-mode {
    @include color-mode(dark, true) {
        .appHeader {
            .item {
                color: $dark-text-emphasis-dark !important;
            }
        }
    }
}