
.icon8 {
    width:8px;
    height:auto;
}

.icon16 {
    width:16px;
    height:auto;
}

.icon24 {
    width:24px;
    height:auto;
}

.icon32 {
    width:32px;
    height:auto;
}

.icon48 {
    width:48px;
    height:auto;
}

.icon64 {
    width:64px;
    height:auto;
}

.icon96 {
    width:96px;
    height:auto;
}

.icon128 {
    width:128px;
    height:auto;
}

.icon256 {
    width:256px;
    height:auto;
}

.icon512 {
    width:512px;
    height:auto;
}