::-webkit-scrollbar {
    width: 0;
    display: none;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    display: none;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}